<div class='jumbotron center'>
    <h1>Pinnuendo</h1>
    <p>Suspiciously Familiar.</p>
    <br/>
    <%= link_to 'Login', new_user_session_path, class: 'btn btn-default' %>
    <%= link_to 'Join', new_user_registration_path, class: 'btn btn-primary' %>
</div>
